@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div id="HomeCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#HomeCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#HomeCarousel" data-slide-to="1"></li>
            <li data-target="#HomeCarousel" data-slide-to="2"></li>
        </ul>
        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/images/hoodooSnowy.jpg" alt="Snowy Mountains" class="resizeCarousel">
            </div>
            <div class="carousel-item">
                <img src="~/images/hoodooTubing.jpg" alt="Autoban Tubing" class="resizeCarousel">
            </div>
            <div class="carousel-item">
                <img src="~/images/hoodooSkiing.jpg" alt="Skiing Action" class="resizeCarousel">
            </div>
        </div>
    </div>
    <div class="featuredNavigation">
        <div class="featNavItem" >
            <a href="@Url.Action("Index", "Store")">
                <img src="~/images/placeholder.png" title="Store" alt="Store"/>
            </a>
        </div>
        <div class="featNavItem" >
            <a href="@Url.Action("Index", "Rentals")">
                <img src="~/images/placeholder.png" title="Rentals" alt="Rentals"/>
            </a>
        </div>
        <div class="featNavItem" >
            <a href="@Url.Action("Index", "Directions")">
                <img src="~/images/placeholder.png" title="Directions" alt="Directions"/>
            </a>
        </div>
        <div class="featNavItem" >
            <a href="@Url.Action("Index", "Employment")">
                <img src="~/images/placeholder.png" title="Employment" alt="Employment"/>
            </a>
        </div>
    </div>
</div>
