@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div style="position:relative;min-width:720px">
        <div class="storeHours">
            <ul style="list-style-type:none; position:absolute; right:0; top:0">
                <li>Monday 8am - 5pm</li>
                <li>Tuesday 8am - 5pm</li>
                <li>Wednesday 8am - 5pm</li>
                <li>Thursday 8am - 7pm</li>
                <li>Friday 8am - 7pm</li>
                <li>Saturday 8am - 7pm</li>
                <li>Sunday: 8am - 5pm</li>
            </ul>
        </div>
    </div>
    <div id="HomeCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#HomeCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#HomeCarousel" data-slide-to="1"></li>
            <li data-target="#HomeCarousel" data-slide-to="2"></li>
        </ul>
        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/images/hoodooSnowy.jpg" alt="Snowy Mountains" class="resizeCarousel">
            </div>
            <div class="carousel-item">
                <img src="~/images/hoodooTubing.jpg" alt="Autoban Tubing" class="resizeCarousel">
            </div>
            <div class="carousel-item">
                <img src="~/images/hoodooSkiing.jpg" alt="Skiing Action" class="resizeCarousel">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <a href="@Url.Action("Index", "Store")">
                <img style="width:100%;padding:30px" src="~/images/placeholder.png" title="Store" alt="Store" />
            </a>
        </div>
        <div class="col-3">
            <a href="@Url.Action("Index", "Rentals")">
                <img style="width:100%;padding:30px" src="~/images/placeholder.png" title="Rentals" alt="Rentals" />
            </a>
        </div>
        <div class="col-3">
            <a href="@Url.Action("Index", "Directions")">
                <img style="width:100%;padding:30px" src="~/images/placeholder.png" title="Directions" alt="Directions" />
            </a>
        </div>
        <div class="col-3">
            <a href="@Url.Action("Index", "Employment")">
                <img style="width:100%; padding:30px" src="~/images/placeholder.png" title="Employment" alt="Employment" />
            </a>
        </div>
    </div>
</div>